:root {
    --blue: #0f8bf04f;
    --pink : #e414e43a;
    
}
.menu-item {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    display:flex;
    justify-content:space-between;
    border-radius: 8px;
    border: 0.5px solid #fff;
    padding: 1px 10%;
}


.title-wrap, .price-wrap {
    padding: 5px;
    height: 100%;
}
.price-wrap {
    font-size: 18px;
}
.title-wrap {
    font-size: 12px;
}