:root {
    --blue: #051b2700;
    --pink : #e675e646;
    
}
.menu-item {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    display:flex;
    justify-content:space-between;
    gap:1px;
    border-radius: 8px;
    border: 0.5px solid #fff;
}


.title-wrap, .price-wrap {
    padding: 5px;
    height: 100%;
}
.price-wrap {
    font-size: 18px;
}
.title-wrap {
    font-size: 12px;
}